{% extends 'base.html' %}

{% block maincontent%}
<div class="container mt-5">
    <h2> About Us </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, voluptates! Provident dolor, neque blanditiis consequatur sit quibusdam corrupti aspernatur magnam, consequuntur adipisci esse aliquid distinctio natus eaque hic inventore consectetur.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt dolore assumenda culpa vero! Eaque est deleniti, sint magni, maxime minus qui ipsa dignissimos temporibus, voluptate hic! Suscipit, nisi harum repellendus eligendi fugit quasi vitae possimus provident fugiat consequuntur veritatis sapiente saepe iste ducimus sed! Mollitia cupiditate quod iure corrupti, eveniet amet nam consectetur quas!
    </p>
    
</div>
{% endblock maincontent %}